<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.di.nb.mapper.NbConfigMapper">
    <select id="getConfigByIdMapper"   parameterType="String"  resultMap="nbConfigBean">
        select  *  from nb_config
        where 1=1
          and deviceId=#{deviceId}
    </select>

    <select id="getAllConfigMapper"  resultMap="nbConfigBean">
        select  *  from nb_config
    </select>

    <resultMap type="com.di.nb.domain.NbConfigBean" id="nbConfigBean">
        <id column="deviceId" property="deviceId" />
        <result column="gatewayId" property="gatewayId" />
        <result column="serviceType" property="serviceType" />
        <result column="serviceId" property="serviceId" />
        <result column="isParsing" property="isParsing" />
        <result column="parseField" property="parseField" />
        <result column="parseJarClass" property="parseJarClass" />
        <result column="parseJarMethod" property="parseJarMethod" />
        <result column="isBaseDecode" property="isBaseDecode" />
        <result column="storageFile" property="storageFile" />
        <result column="isCallable" property="isCallable" />
        <result column="appId" property="appId" />
        <result column="method" property="method" />
        <result column="callbackUrl" property="callbackUrl" />
        <result column="maxRetransmit" property="maxRetransmit" />
        <result column="expireTime" property="expireTime" />
        <result column="callbackFieldsKey" property="callbackFieldsKey" />
        <result column="callbackFieldsValues" property="callbackFieldsValues" />
    </resultMap>

    <insert id="insertConfigMapper" parameterType="com.di.nb.domain.NbConfigBean">
        insert into
        nb_config(
                deviceId,
                gatewayId,
                serviceType,
                serviceId,
                isParsing,
                parseField,
                parseJarClass,
                parseJarMethod,
                isBaseDecode,
                storageFields,
                isCallback,
                appId,
                method,
                callbackUrl,
                maxRetransmit,
                expireTime,
                callbackFieldsKey,
                callbackFieldsValues
        )
        values(
            #{deviceId},
            #{gatewayId},
            #{serviceType},
            #{serviceId},
            #{isParsing},
            #{parseField},
            #{parseJarClass},
            #{parseJarMethod},
            #{isBaseDecode},
            #{storageFields},
            #{isCallback},
            #{appId},
            #{method},
            #{callbackUrl},
            #{maxRetransmit},
            #{expireTime},
            #{callbackFieldsKey},
            #{callbackFieldsValues}
        )
    </insert>


    <update id="updateConfigMapper" parameterType="com.di.nb.domain.NbConfigBean">
        update nb_config
        set gatewayId = #{gatewayId},
            serviceType=#{serviceType},
            serviceId=#{serviceId},
            isParsing=#{isParsing},
            parseField=#{parseField},
            parseJarClass=#{parseJarClass},
            parseJarMethod=#{parseJarMethod},
            isBaseDecode=#{isBaseDecode},
            storageFields=#{storageFields},
            isCallback=#{isCallback},
            appId=#{appId},
            method=#{method},
            callbackUrl=#{callbackUrl},
            maxRetransmit=#{maxRetransmit},
            expireTime=#{expireTime},
            callbackFieldsKey=#{callbackFieldsKey},
            callbackFieldsValues=#{callbackFieldsValues}
        where 1=1 and deviceId=#{deviceId}
    </update>


    <delete id="deleteConfigMapper" parameterType="com.di.nb.domain.RequestParamsData">
        delete from nb_config
        where 1=1
          and deviceId=#{deviceId}
    </delete>
</mapper>



